body {
  /* http://www.drivingdesigns.com/endless-graph-paper-background/ */
  background-image: url("../images/grid-dark7.gif");
  font-family: "magistral-web",sans-serif;
  font-style: normal;
  color: #ccc; }

a, a:active, a:visited {
  color: #ccc; }

a:hover {
  color: red; }

div#main-wrapper {
  max-width: 740px;
  margin: 1em auto;
  position: relative; }

h1 {
  font-size: 3em;
  font-weight: 800;
  position: absolute; }

/***** Buttons *****/
div#buttons {
  position: absolute;
  top: 9em;
  right: 0em;
  z-index: 10; }

button.pure-button {
  border-radius: 2px;
  border: 3px solid #ddd;
  margin: .5em;
  color: #eee;
  font-family: "magistral-web",sans-serif;
  letter-spacing: 1px;
  padding: 5px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #333; }

button.red {
  color: red;
  border-color: red; }

button.orange {
  color: orange;
  border-color: orange; }

button.blue {
  color: blue;
  border-color: blue; }

/***** Hello *****/
div#hello {
  color: #bbb;
  width: 293px;
  position: absolute;
  top: 25em;
  right: -5em;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0 20px;
  background-color: #333; }

/***** Credit *****/
div#credit {
  position: absolute;
  top: 42em;
  left: -1em;
  z-index: 10; }
